.transactionContainer {
  margin: 0 auto;
  width: 30vw;
  min-width: 400px;
  height: 50vh;
  padding: 30px 0;
}
.submit {
  width: 100%;
}
.transactionForm {
  margin-top: 20px;
}
.inputWidth {
  width: 100%;
}
