.regisctrationContainer {
  margin: 0 auto;
  width: 30vw;
  min-width: 400px;
  height: 50vh;
  padding: 30px 0;
}
.submit {
  width: 100%;
}
.registrationForm {
  margin-top: 20px;
}
.notification {
  margin-bottom: 20px !important;
}
