.userNameWrapper {
  float: left;
  text-align: start;
}

.userName {
  font-size: 1.2em;
  font-weight: 900;
  margin: 0px;
  height: 20px;
  color: #ffffff;
}

.userEmail {
  font-size: 1em;
  /* margin: -10px 0 0 0; */
  height: 15px;
  color: #ffffff;
}
.userBalance {
  color: #ffffff;
}

.userInfoBlock {
  float: right;
  height: 30px;
}
