.userInfo {
  align-items: center;
  position: relative;
  margin-left: 20px;
}

.submit {
  margin-top: 15px;
}
.headerText {
  color: #ffffff;
  font-weight: bold;
  float: left;
  font-size: 2em;
}
