.loginContainer {
  margin: 0 auto;
  width: 30vw;
  min-width: 400px;
  height: 50vh;
  padding: 30px 0;
  /* background-color: bisque; */
}
.submit {
  width: 100%;
}
.loginForm {
  /* position: absolute; */
  margin-top: 20px;
}
.notification {
  margin-bottom: 20px !important;
}

.formItemContainer {
  margin-bottom: 20px;
}
.errorText {
  color: #d8000c;
}
